.venv
.env
__pycache__/
*.py[cod]
*.db
*.sqlite3
.ipynb_checkpoints/

# Local data exports
entries*.csv
export.json

# Secrets/keys
my-key.json

# OS/editor cruft
.DS_Store
export.json

word_processing.ipynb